extends _layout.pug

append mixins
    include Components/_entry.pug
    include Components/_publication.pug

append screen
    .screen__search.search
        label
            input(type='search' placeholder='Поиск')
            i.oi(data-glyph='magnifying-glass')
    .screen__tags
        .card
            if (model.tags)
                label.tag-checker
                    input(type='checkbox' checked=true)
                    span
            h2 Теги
            if (model.tags)
                form
                    each pubs, tag in model.tags
                        label.tag(title=tag)
                            input(type='checkbox' name=tag checked=true value=tag)
                            span #{tag} #{pubs}
    .screen__results.results
        if (!model.publications)
            h2 Откройте файл чтобы начать
        else
            .card
                table.entries-table
                    tr.entries-table__heading
                        th Тип
                        th Автор/Редактор
                        th Название
                        th Год
                        th
                    each publication, id in model.publications
                        +entry(publication, id)
    script.
        const {ipcRenderer} = require('electron');
        ipcRenderer.send('request-view-model');
        ipcRenderer.on('view-model-response', function (e, data) {
            window.model = data;
        });
        let openFile = function (path) {
            ipcRenderer.send('open-file', path);
        }
        let openFolder = function (path) {
            ipcRenderer.send('open-folder', path);
        }
append styles
    include ../bundles/main.min.css

append scripts
    include ../bundles/main.min.js