extends _layout.pug

append mixins
    include Components/_publication.pug

append screen
    .screen__search.search
        label
            input(type='search' placeholder='Поиск')
            i.oi(data-glyph='magnifying-glass')
    .screen__tags
        .card
            h2 Теги
            if (model.tags)
                each pubs, tag in model.tags
                    label.tag(title=tag)
                        input(type='checkbox' name=tag checked=true)
                        span #{tag} #{pubs}
    .screen__results.results
        if (!model.publications)
            h2 Откройте файл чтобы начать
        else
            .card
                table.entries-table
                    tr.entries-table__heading
                        th Тип
                        th Автор/Редактор
                        th Название
                        th Год
                        th
                    each publication in model.publications
                        tr.entries-table__publication(id = `${publication.label}`, data-tags = `${publication.properties.keywords}`)
                            td
                                span(title=publication.type) #{publication.type}
                            td
                                span(title=publication.author) #{publication.properties.author}
                            td
                                span(title=publication.title) #{publication.properties.title}
                            td
                                span(title=publication.year) #{publication.properties.year}
                            td
                                details
                                    summary Подробнее
                                    +publication(publication)



append styles
    include ../bundles/main.min.css

append scripts
    include ../bundles/main.js